## MLJAR Automated Machine Learning for Humans

https://supervised.mljar.com/

In [2]:
# !pip install mljar-supervised

In [10]:
import pandas as pd
from supervised.automl import AutoML
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv('data/titanic.csv', sep ='\t')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
X = df.drop(columns=['Survived'], axis=1)
y = df[['Survived']]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
print('X_train', X_train.shape)
print('X_test', X_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

X_train (124, 11)
X_test (32, 11)
y_train (124, 1)
y_test (32, 1)

In [28]:
my_automl = AutoML(eval_metric='accuracy')
my_automl.fit(X_train,y_train)

AutoML directory: AutoML_1
The task is binary_classification with evaluation metric accuracy
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline accuracy 0.645161 trained in 1.24 seconds
2_DecisionTree accuracy 0.774194 trained in 4.88 seconds
3_Linear accuracy 0.645161 trained in 3.15 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_Xgboost accuracy 0.645161 trained in 3.69 seconds
5_Default_NeuralNetwork accuracy 0.677419 trained in 1.26 seconds
6_Default_RandomForest accuracy 0.806452 trained in 4.95 seconds
* Step ensemble will try to check up to 1 model
Ensemble accuracy 0.870968 trained in 0.34 seconds
AutoML fit time: 31.12 seconds
AutoML best model: Ensemble

AutoML(eval_metric='accuracy')

In [29]:
preds = my_automl.predict(X_test)

In [30]:
accuracy_score(preds, y_test)

0.75